

.overlay_modal__modificar-personal .modalContainer1 select {
    width: 40%;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 30%;
    background-color: lightblue;
}

.overlay_modal__modificar-personal .modalContainer1  {
    width: fit-content;
    height: fit-content;
}

.overlay_modal__modificar-personal .modalContainer1 input {
    width: 40%;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
    margin-right: 20px;
    background-color: lightblue;
}

.overlay_modal__modificar-personal .modalContainer1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: 40px;
    /* margin-bottom: 30px; */
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
    /* background-color: lightblue; */
}

.overlay_modal__modificar-personal .modalContainer1 p {
    border-radius: 10px;
    background-color: #f8f9fa;
    padding: 10px;
    margin-top: 1px;
    opacity: 0.7;
}