.modalContainer1 {
    padding: 2rem;
    width: 700px;
    height:fit-content;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: rgb(43, 84, 208);
    background: linear-gradient(0deg, rgb(184, 185, 204) 0%, rgb(177, 187, 222) 35%, rgb(77, 100, 202)100%);
    border: rgb(244, 206, 206) 0.3rem solid;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    border-radius: 8px;
    flex-direction: column;
    text-align: center;
}

.modalContainer1 form *{
    padding: 0;
    margin: 0;
}


.modalContainer1 .inputs-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}



.modalContainer1 .buttons-box {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}



.modalContainer1 .password__container p {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    height: 4rem;
    width: 95%;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    margin-top: 4rem;
}
.modalContainer1 .ci-expedicion select {
    margin-top: 0 !important;
}

.modalContainer1 .password__container {
    display: grid;
    grid-template-columns: 70% 30%;   
}
.modalContainer1 .ci-expedicion {
    display: grid;
    grid-template-columns: 70% 30%;
}

.modalContainer1 .ci-expedicion select {
    margin-top: 4rem !important;
    width: 80px !important;
}


.modalContainer1 .form__group {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: 50% 50%;
}

.modalContainer1 .form__group select {
    margin: 0 !important;
    font-size: 1.6rem; 
    text-align:left !important;
    display: flex;
}

.modalContainer1 .form__group label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.modalContainer1 .form__group .correo {
    display: flex;
    flex-direction: column;
    
}

.nombre {
    width: 210%;
    margin-bottom: 30px !important;
}







