.centerTRN {
    

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(5rem, auto);
    /* grid-template-rows: repeat(2, 1fr); */
    width: 85%;
    
    
    
    
}

.form_customtnr{
    display: grid;
    grid-area: 1 / 1 / 2 / 5; 

}


.buscar {
    grid-column-start: 1;
    grid-column-end: 4;
    /* grid-area: 1 / 1 / 2 / 4; */
    
}

.boton-buscar {
    
    grid-column-start: 4;
    grid-column-end: 5;
    /* grid-area: 1 / 4 / 2 / 5; */
    
}

.tabla {
    grid-column-start: 1;
    grid-column-end: 5;
}

.nuevo-registro {
    grid-column-start: 4;
    grid-column-end: 5;
}