
.reportes {
    display: grid;
    width: 100%;
    height: calc(100% - 20rem);
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.reportes .container-grafico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; 
}

.reportes .container-grafico .grafico {
    width: 100%;
    height: 100%;
}

.reportes .container-grafico .grafico-genero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%; 
}
