   .outer-wrapper {
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-height: fit-content;
}
.table-wrapper {
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 40vh;
    margin-top: 22px;
    margin: 5px;
    padding-bottom: 20px;
}


.table-wrapper::-webkit-scrollbar {
    width: 10px;     
    height: 10px;    
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
}
.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.table-wrapper::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}
.table-wrapper::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-track:hover,
.table-wrapper::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}



   table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    
}

table-head {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #323232;
}

table-body {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #323232;
}

tr{
    text-align: left;
    background: hsla(253, 83%, 45%, 0.5);
}

tr:nth-of-type(2n) {
    background: hsla(143, 90%, 52%, 0.904); 
}

tr, td {
    border: 1px solid #391414;
    text-align: left;
    padding: 7px; 
}
