/* .table-head {
    background-color: #86ff05;
    color: #272222;
    height: 5rem;
    text-align: center; 
    border-collapse: collapse; 
    border: 0px;
    left: 400px;
}
.table-head td {
    padding: 0.1rem;
    font-weight: 500;
    font-size: 2rem;
    border: 0px;  
}
.table-body {
    background-color: #d7abab;
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    background-color: #d0b1b1;   
}
.table-body tr {
    height: 5rem;
    text-align: left;
}
.table-body tr td {
    padding: 1rem; 
}
table, tr, td{
    border-collapse: collapse;
   } */

   .outer-wrapper {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
    max-width: fit-content;
    max-height: fit-content;
}
.table-wrapper {

    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    max-height: 70vh;
    margin-top: 22px;
    margin: 15px;
    padding-bottom: 20px;
}


   table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    
}

table-head {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #323232;
}

table-body {
    width: min(900px, 100% - 3rem);
    margin-inline: auto;
    width: 100%;
    border-collapse: collapse;
    background-color: #323232;
}

tr{
    text-align: left;
    background: hsla(253, 83%, 45%, 0.5);
}

tr:nth-of-type(2n) {
    background: hsla(143, 90%, 52%, 0.904); 
}

tr, td {
    border: 1px solid #391414;
    text-align: left;
    padding: 7px; 
}


/* @media (max-width: 850px) { */
    /* tr{
       display: none; 
    }
    td{
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 15ch auto;
        padding: 0.75rem 1rem;
        
    }
    td:first-child {
        padding-top: 2rem;
    }
    td:last-child {
        padding-top: 2rem;
    }
    td::before {
        font-weight: 700;
        text-transform: capitalize;
    } */

    /* table {
        padding-top: 100px;
        margin-top: 400px ; */
    /* }
    th{
        
        display: none;
    }
    td{
        display: block;
        padding: 0.5rem 1rem;
    }

    td:first-child {
        padding-top: 2rem;
    }
    td:last-child {
        padding-top: 2rem;
    }

    td::before {
        /* content: attr(data-cell) ": "; */
        /* font-weight: 700; */
        /* text-transform: capitalize; */
    /* } */ */



/* } */