.window-content-nc {
  margin: 12rem;
  padding: 5rem;
  width: 100%;
  height: 90rem;
  background-color: rgb(7, 58, 211);
  background: linear-gradient(
    0deg,
    rgb(184, 185, 204) 0%,
    rgb(177, 187, 222) 35%,
    rgb(77, 100, 202) 100%
  );
  border: rgb(244, 206, 206) 0.3rem solid;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #212428;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.modalContainernc {
  width: 620px;
  height: 550px;
  position: fixed;
  top: 55%;
  left: 49%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  background-color: rgb(7, 58, 211);
  background: linear-gradient(
    0deg,
    rgb(184, 185, 204) 0%,
    rgb(177, 187, 222) 35%,
    rgb(77, 100, 202) 100%
  );
  border: rgb(244, 206, 206) 0.3rem solid;
  box-shadow: 0 0 0.5rem #212428;
  padding: 3rem;
}

.modalContainernc label {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  padding: 1rem;
}
.diagnosticoSelect {
  width: 20%;
  height: 3rem;
  text-align: center;
  margin-top: 1rem;
  border-radius: 10rem;
}

.diagnosticoPsicologo {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif!important;
  width: 20%;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 10rem;
  resize: none;
}

.imprimird {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  padding: 3rem;
}

.for {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

.for * {
  padding: 0 !important;
}
.for .option-form__nuevocaso {
  width: 100%;
  margin-top: 10px;
}
.for .ci-expedicion1 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.for .contain-select {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}
.for label {
  font-weight: 700 !important;
  font-size: 2rem !important;
}

.for .contain-select label {
  display: flex;
  margin-left: 1rem;
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}
